.chat-message {
    display: flex;
    gap: 12px;
    margin-bottom: 20px;
    animation: fadeIn 0.3s ease;
}

.chat-message.user {
    flex-direction: row-reverse;
}

.message-content {
    max-width: 75%;
    background: #ffffff;
    padding: 12px 16px;
    border-radius: 12px;
    border: solid 1px #d2d2d2
}

.message-content p {
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
    word-wrap: break-word;
}

.chat-message.user .message-content {
    background: #8250ff;
    color: #fff;
}

.message-image {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 8px;
}

.chat-message.user .message-avatar {}

.chat-message.assistant .message-avatar {}